.modal {
  background-color: rgb(83, 83, 83);
  min-height: 240px;
  padding: 10px 20px;
  border-radius: var(--br-modal);
  color: #fff;
}

.modal h3 {
  color: inherit;
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 1.7rem;
}

.modal input {
  margin-bottom: 15px;
  padding: 5px;
}

.add-category-button-container {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}

.add-category-button {
  padding: 3px 20px;
  cursor: pointer;
}

.close-modal-button {
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: inherit;
  border: none;
  color: var(--clr-text);
  cursor: pointer;
}
