.modal {
  background-color: rgb(83, 83, 83);
  min-height: 240px;
  padding: 10px 20px;
  border-radius: var(--br-modal);
  color: #fff;
}

.modal h3 {
  color: inherit;
  margin-bottom: 10px;
  font-size: 1.35rem;
}

.modal input {
  margin-bottom: 15px;
  padding: 3px;
}

.add-category-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 3px 20px;
  cursor: pointer;
}

.colorpicker {
  margin-bottom: 200px;
}
