.modal {
  background-color: rgb(83, 83, 83);
  width: 90%;
  max-width: 400px;
  /* min-width: 300px; */
  padding: 10px 20px;
  border-radius: var(--br-modal);
  color: #fff;
}

.modal.small-screen {
  top: 10%;
}

.modal h3 {
  color: inherit;
}

.modal input,
.modal textarea {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  margin-top: 3px;
  font-size: 1rem;
}

.modal input {
  min-width: 180px;
}

.modal textarea {
  width: 95%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 60px;
}

.categories li {
  border: 1px solid;
  padding: 5px;
  cursor: pointer;
}

.not-active-category {
  background-color: inherit !important;
  color: #fff;
}

.task-category-heading {
  margin-bottom: 3px;
}

.add-task-button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 7px 20px;
  border-radius: var(--br-button);
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
}

.close-modal-button {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: inherit;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 5px;
}
