.side-menu {
  background-color: var(--clr-menu-bg);
  box-shadow: 2px 2px 27px -16px rgba(66, 68, 90, 1);
  z-index: 1;
  padding: 10px;
}

.brand {
  margin-bottom: 25px;
  color: var(--clr-text);
}

.menu-list {
  list-style: none;
}
