.modal {
  background-color: rgb(83, 83, 83);
  min-width: 300px;
  min-height: 250px;
  max-width: 500px;
  padding: 15px 25px;
  border-radius: var(--br-modal);
  color: #fff;
  position: relative;
}

.modal h3 {
  color: inherit;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.modal.error h3 {
  color: rgb(255, 51, 51);
}
.modal.warning h3 {
  color: rgb(202, 202, 0);
}
.modal.info h3 {
  color: #1a8fe3;
}

.modal-message {
  width: 80%;
  font-size: 1.1rem;
}

.close-modal-button {
  background-color: inherit;
  border: none;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px;
}
